.container {
  margin-top: 20px;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-body {
  padding: 20px;
}

.card-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.bg-orange {
  background-color: #ffa500;
  color: white;
}

.bg-blue {
  background-color: #001f3f;
  color: white;
}

.bg-yellow {
  background-color: #ffcc00;
  color: white;
}

.bg-brown {
  background-color: #8b4513;
  color: white;
}
